@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    font-family: Poppins, Tahoma, arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 45deg, #0f2027, #2c5364 );
    --primary-color: #3d5af1;
    --primary-color-darker: #2b43bb;
    --secondary-color: #303a52;
    --secondary-color-darker: #202736;
}