.chat-container
{
    height: 80vh;
    width: 80vw;
    display: grid;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,.4 );
    background-color: #FFF;
    grid-template-areas: 
        "chat-title chat-title"
        "room-participants chat-messages"
        "room-participants chat-form";
    grid-template-rows: 100px 1fr 70px;
    grid-template-columns: 250px 1fr;
    --primary-color: #3d5af1;
    --primary-color-darker: #2b43bb;
    --secondary-color: #303a52;
    --secondary-color-darker: #202736;
}