.chat-form-container
{
    grid-area: chat-form;
    position: relative;
    background-color: #EEE;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.chat-form-container .typing-indicator
{
    position: absolute;
    color: #333;
    background-color: #FFF;
    padding: .5rem .5rem .5rem 2rem;
    bottom: 100%;
    left: 0;
    margin-left: 10px;
}

.chat-form-container .typing-indicator:not( :empty )::before
{
    content: '';
    display: block;
    position: absolute;
    height: .8em;
    width: .8em;
    top: 50%;
    margin-top: -.5rem;
    left: .5rem;
    border: 2px solid var( --primary-color );
    border-top-color: transparent;
    border-radius: 100rem;
    animation: .3s spin infinite linear;
}

.chat-form
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.chat-form input[type="text"]
{
    color: #333;
    outline: none;
    border: 1px solid rgba( 0,0,0,.2 );
    font-size: 1.2rem;
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    border-radius: 100rem;
    font-family: inherit;
    transition: .3s all;
}

.chat-form input[type="text"]:focus
{
    box-shadow: 0 0 5px 0 rgba( 0,0,0,.2 );
}

.chat-form input[type="submit"]
{
    background-color: var( --primary-color );
    color: #FFF;
    border: none;
    display: block;
    border-radius: 100rem 100rem 100rem;
    font-size: 1.2rem;
    padding: .6rem;
    margin-left: 1rem;
    transition: .3s all;
}

.chat-form input[type="submit"]:hover,
.chat-form input[type="submit"]:active
{
    background-color: var( --primary-color-darker );
}


@keyframes spin
{
    from { transform: rotate( 0 ); }
    to { transform: rotate( 360deg ); }
}